

.imgl{
    width: 35px;
    height: 35px;
    margin: 10px;
    
   
  }

  .txtl {
    font-size: 10px;
    color: azure;
    
  }

  a:hover {


    text-decoration: none;
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  