
    <!--nav class="nvv d-flex justify-content-around " style="background: linear-gradient(180deg,#363636 0%,#414141 49%,#525252 100%);height: 80px; padding: 0%;
    ">
       <a href="https://www.w3schools.com" class="live"  >
         <img class="imgl " src="../../assets/icons/live.png" >
         <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">live</p>
       </a>

        <a href="https://www.w3schools.com" class="football">
      <img class="imgl" src="../../assets/icons/football.png">
      <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">football</p>
        </a>

    <a href="https://www.w3schools.com" class="tennis">
      <img class="imgl" src="../../assets/icons/tennis.png"/>
      <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">tennis</p>
    </a>

    <a href="https://www.w3schools.com"v class="basket">
      <img class="imgl" src="../../assets/icons/basket.png"/>
      <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">basketball</p>
    </a>

    <a href="https://www.w3schools.com" class="volley">
      <img class="imgl" src="../../assets/icons/volley.png"/>
      <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">volleyball</p>
    </a>


    <a href="https://www.w3schools.com" class="hockey">
      <img class="imgl" src="../../assets/icons/hockey.png"/>
      <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">hockey</p>
    </a>

    <a href="https://www.w3schools.com" class="az">
      <img class="imgl" src="../../assets/icons/all.png"/>
      <p class="font-weight-bold text-uppercase txtl d-flex justify-content-around">all sports</p>
    </a>
  
  
    </nav-->

    <div class="asb-flex-col asb-cut _asb_application-fullHD--page-column-center _asb_page-column-center ">
      <div name="banners" class="asb-flex-col">
        <!----></div> 
      <div class="">
        <!----> 
        <div class="asb-cut asb-pos-wide _asb_items-scroller  _asb_application-fullHD--top-sports-scroller _asb_top-sports-scroller " name="top-sports-scroller">
          <div class="_asb_content-scroller "><div class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_content-scroller-arrow " style="left: 0px; display: none;">
              <div class="" style="overflow: hidden;"></div> <i class="_asb_ui-icon  asb-icon-arrow-left _asb_content-scroller-arrow-icon "></i></div> 
            <div class="" style="overflow: hidden;">
              <div class="asb-scrollable asb-flex-cc _asb_content-scroller-wrapper-scrollable ">
                <!----> 
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="En direct">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_ui-icon  asb-icon-live"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">En direct</div>
                  </div>
                </div> 
                <!----> 
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="Football">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_sport-icon asb-icon-football"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">Football</div>
                  </div>
                </div>
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="Tennis">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_sport-icon asb-icon-tennis"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">Tennis</div>
                  </div>
                </div>
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="Basketball">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_sport-icon asb-icon-basketball"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">Basketball</div>
                  </div>
                </div>
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="Hockey sur glace">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_sport-icon asb-icon-ice-hockey"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">Hockey sur glace</div>
                  </div>
                </div>
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="Volleyball">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_sport-icon asb-icon-volleyball"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">Volleyball</div>
                  </div>
                </div> 
                <div class="asb-flex-cc asb-flex-col asb-pos-stretch asb-uncut _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_top-sports-scroller-button " title="Tous les sports">
                  <div class="" style="overflow: hidden;"></div> 
                  <div class="asb-flex-cc asb-pos-wide _asb_top-sports-scroller-button-icon ">
                    <i class="_asb_ui-icon  asb-icon-all-sports-list"></i>
                  </div> 
                  <div class="asb-flex-cc _asb_top-sports-scroller-button-label ">
                    <div class="asb-nowrap asb-text-center">Tous les sports</div>
                  </div>
                </div> 
                <!---->
              </div>
            </div> <div class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_content-scroller-arrow " style="right: 0px; display: none;">
              <div class="" style="overflow: hidden;"></div> <i class="_asb_ui-icon _asb_ui-icon---arrow-right  asb-icon-arrow-right _asb_content-scroller-arrow-icon "></i></div>
          </div>
        </div> 

       
