<div class="" _index="0">
    <div class="asb-flex">
        <!---->
        <div class="asb-flex-cc _asb_events-table-row-code "><span>{{prematch.FixtureId}}</span></div>
        <div class="asb-flex-col asb-cut asb-pos-wide _asb_events-table-row ">
            <div class="asb-flex-sc asb-pos-stretch _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer  _asb_events-table-row-prefix "
                title="Al-Riffa vs. Al Muharraq, Première division, Bahreïn">
                <div class="" style="overflow: hidden;"></div>
                <div class="asb-flex-sc _asb_events-table-row-prefix-wrapper ">
                    <!---->
                    <!---->
                    <div class="asb-flex-cc asb-nowrap _asb_live-indicator ">
                        En direct
                        <!---->
                    </div> <span class="_asb_ui-spacer "></span>
                    <div class="asb-text asb-flex-sc _asb_events-table-row--start-datetime _asb_start-datetime ">
                        <div class="asb-text">62'</div>
                    </div>
                </div>
                <div class="asb-text asb-flex-sc"><span>&nbsp;|&nbsp;</span>
                    <div>
                        <div class="_asb_category-flag-or-sport-icon "><i
                                class="_asb_flag-icon  asb-flag-icon asb-flag-icon-bhr asb-flag-icon-bhr-1"></i></div>
                        &nbsp;
                    </div>
                    <div class="asb-text">
                        Première division
                        <span class="_asb_dot-delimiter ">•</span>
                        Bahreïn
                    </div>
                </div>
                <!---->
                <!---->
            </div>
            <div class="asb-flex-sc">
                <div title="Al-Riffa vs. Al Muharraq, Première division, Bahreïn"
                    class="asb-pos-stretch asb-flex-sc _asb_events-table-row-event-info ">
                    <!---->
                    <div
                        class="asb-pos-stretch _asb_simple-button _asb_simple-button-container-block _asb_simple-button-pointer ">
                        <div class="" style="overflow: hidden;"></div>
                        <div class="asb-flex-sc asb-pos-stretch">
                            <div class="asb-flex-col asb-cut asb-pos-stretch _asb_events-table-row-competitors ">
                                <div class="asb-flex-sc asb-pos-stretch">
                                    <div class="asb-flex-col _asb_events-table-row-competitors-column-scores-wrapper ">
                                        <div class="asb-flex-cc _asb_events-table-row-competitor-score ">
                                            <div class="asb-flex-ec">0</div>
                                        </div>
                                        <div class="asb-flex-cc _asb_events-table-row-competitor-score ">
                                            <div class="asb-flex-ec">2</div>
                                        </div>
                                    </div>
                                    <div class="asb-flex-col asb-pos-wide">
                                        <div class="_asb_events-table-row-competitor-name ">
                                            <!---->
                                            <!---->
                                            <div class="asb-flex-col asb-pos-wide">
                                                <div class="asb-text asb-pos-wide">{{prematch.Fixture.Participants}}</div>
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="_asb_events-table-row-competitor-name ">
                                            <!---->
                                            <!---->
                                            <div class="asb-flex-col asb-pos-wide">
                                                <div class="asb-text asb-pos-wide">Al Muharraq</div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div> <i
                                        class="_asb_ui-icon  asb-icon-live-stream _asb_events-table-row--ui-icon-video _asb_ui-icon-video "
                                        title="Streaming en direct disponible"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                <div class="asb-flex asb-unshrink _asb_events-table-row-markets ">
                    <div class="asb-flex _asb_prices-market ">
                        <!---->
                        <div class="_asb_prices-markets--price-block _asb_price-block ">
                            <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer " title="1">
                                <div class="" style="overflow: hidden;"></div>
                                <div
                                    class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                    <!---->
                                    <!---->
                                    <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                            class="">22.00</span></div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="_asb_prices-markets--price-block _asb_price-block ">
                            <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer " title="X">
                                <div class="" style="overflow: hidden;"></div>
                                <div
                                    class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                    <!---->
                                    <!---->
                                    <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                            class="">6.75</span></div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="_asb_prices-markets--price-block _asb_price-block ">
                            <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer " title="2">
                                <div class="" style="overflow: hidden;"></div>
                                <div
                                    class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                    <!---->
                                    <!---->
                                    <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                            class="">1.09</span></div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="asb-flex asb-flex-cc _asb_prices-market-italian ">
                        <div class="_asb_items-dropdown ">
                            <div
                                class="asb-flex-sc  _asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-header ">
                                <div class="" style="overflow: hidden;"></div>
                                <div class="asb-pos-wide asb-text">
                                    <div class="asb-flex-ec">2.5</div>
                                </div> <i class="_asb_ui-icon  asb-icon-down-dir-1 _asb_dropdown-icon "></i>
                            </div>
                            <!---->
                        </div>
                        <div class="asb-flex-cc asb-pos-tall asb-uncut _asb_prices-market-italian-price-wrapper ">
                            <div class="_asb_prices-markets--price-block _asb_price-block ">
                                <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                    title="Plus de 2.5">
                                    <div class="" style="overflow: hidden;"></div>
                                    <div
                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                        <!---->
                                        <!---->
                                        <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                                class="">1.40</span></div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="asb-flex-cc asb-pos-tall asb-uncut _asb_prices-market-italian-price-wrapper ">
                            <div class="_asb_prices-markets--price-block _asb_price-block ">
                                <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                    title="Moins de 2.5">
                                    <div class="" style="overflow: hidden;"></div>
                                    <div
                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                        <!---->
                                        <!---->
                                        <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                                class="">2.70</span></div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="asb-flex _asb_prices-market ">
                        <!---->
                        <div class="_asb_prices-markets--price-block _asb_price-block ">
                            <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer " title="Oui">
                                <div class="" style="overflow: hidden;"></div>
                                <div
                                    class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                    <!---->
                                    <!---->
                                    <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                            class="">1.75</span></div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="_asb_prices-markets--price-block _asb_price-block ">
                            <div class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer " title="Non">
                                <div class="" style="overflow: hidden;"></div>
                                <div
                                    class="asb-flex-cc asb-cut asb-pos-stretch _asb_events-table-row-markets--price-block-content _asb_price-block-content ">
                                    <!---->
                                    <!---->
                                    <div class="asb-flex-cc asb-unshrink _asb_price-block-content-price "><span
                                            class="">1.95</span></div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asb-flex-sc asb-flex-col">
                    <div class="_asb_events-table-row-fastcode ">
                        <div class="_asb_items-dropdown " title="Code rapide">
                            <div
                                class="asb-flex-sc  _asb_simple-button _asb_simple-button-pointer  _asb_events-table-row-fastcode--items-dropdown-header _asb_items-dropdown-header ">
                                <div class="" style="overflow: hidden;"></div>
                                <div class="asb-pos-wide asb-text">
                                    <div><i class="_asb_ui-icon  asb-icon-plus"></i></div>
                                </div> <i class="_asb_ui-icon  asb-icon-down-dir-1 _asb_dropdown-icon "></i>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <div title="Voir les détails"
                        class="asb-pos-tall asb-flex-cc asb-uncut _asb_events-table-row-extra-btn ">
                        <div
                            class="asb-pos-tall asb-pos-wide asb-flex-cc _asb_simple-button _asb_simple-button-pointer ">
                            <div class="" style="overflow: hidden;"></div> <i
                                class="_asb_ui-icon  asb-icon-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <!---->
</div>