<div cz-shortcut-listen="true">
  <div class="asb-application _asb_application _asb_application-fullHD _asb_application-optimized " id="sb" lang="en">
    <div class="" style="position: static;">
      <!---->
      <!---->
    </div>
    <div class="asb-flex _asb_view-prelive ">
      <div class="asb-flex-col asb-cut _asb_application-fullHD--page-column-center _asb_page-column-center ">
        <div name="banners" class="asb-flex-col">
          <!---->
        </div>
        <div class="">
          <!---->
          <!---->
          <div class="">
            <!---->
            <div class="" style="position: static;">
              <!---->
              <!---->
              <div class="_asb_events-tree-table ">
                <div class="">
                  <div class="_asb_expansion-panel  _asb_events-tree-table-node-SP ">
                    <!---->
                    <div class="asb-flex-col  asb-flex-col _asb_expansion-panel-content "
                      style="transform-origin: center top;">
                      <div class="_asb_expansion-panel  _asb_events-tree-table-node-CH ">
                        <div class="asb-flex-col  asb-flex-col _asb_expansion-panel-content "
                          style="transform-origin: center top;">
                          <div class="_asb_expansion-panel  _asb_events-tree-table-node-DT ">
                            <div class="asb-flex-col  asb-flex-col _asb_expansion-panel-content "
                              style="transform-origin: center top;">
                              <div class="">
                                <div class="" style="position: static;">
                                  <!---->
                                  <!---->
                                  <div>
                                    <div class="">
                                      <div class="asb-pos-wide _asb_items-tabs-header ">
                                        <div class="asb-cut asb-pos-wide _asb_items-scroller ">
                                          <div class="_asb_content-scroller ">
                                            <div
                                              class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_content-scroller-arrow "
                                              style="left: 0px; display: none;">
                                              <i
                                                class="_asb_ui-icon  asb-icon-arrow-left _asb_content-scroller-arrow-icon "></i>
                                            </div>
                                            <div class="" style="overflow: hidden;">
                                              <div
                                                class="asb-scrollable asb-flex-cc _asb_content-scroller-wrapper-scrollable ">
                                                <div
                                                  class="asb-flex-cc asb-pos-tall asb-nowrap _asb_items-tabs-tab--simple-button-selected _asb_simple-button _asb_simple-button-selected _asb_simple-button-pointer  _asb_items-tabs-tab  asb-uncut"
                                                  title="All">
                                                  <div class="" style="overflow: hidden;"></div>
                                                  <span class="_asb_event-details-markets-tab-label "> All </span>
                                                  <!---->
                                                  <div
                                                    class="_asb_items-tabs-indicator _asb_items-tabs-indicator-selected ">
                                                  </div>
                                                </div>
                                                <div
                                                  class="asb-flex-cc asb-pos-tall asb-nowrap asb-pos-stretch asb-flex-ec _asb_simple-button _asb_simple-button-pointer  _asb_items-tabs-tab  _asb_items-tabs-tab-empty ">
                                                  <div class="" style="overflow: hidden;"></div>
                                                  <div class="_asb_items-tabs-indicator "></div>
                                                </div>
                                              </div>
                                            </div>
                                            <div
                                              class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_content-scroller-arrow "
                                              style="right: 0px; display: none;">
                                              <i class="_asb_ui-icon _asb_ui-icon---arrow-right  asb-icon-arrow-right _asb_content-scroller-arrow-icon "></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="_asb_items-tabs-content ">
                                        <div class="asb-cut" style="position: static;">
                                          <div>
                                            <div class="_asb_event-details-markets-group  ">
                                              <div class="_asb_event-details-markets-group-single-bet ">
                                                <!---->
                                              </div>



                                              <!-- *****************To qualify***************** -->
                                              <div class="_asb_expansion-panel  _asb_sports-tree-item aa">
                                                <ul>
                                                  <li>
                                                    <input type="checkbox" id="list-item-1x2">
                                                    <div class="asb-flex-sc  _asb_sports-tree-item-header "
                                                      title="Football">

                                                      <i class="_asb_ui-icon _asb_ui-icon---star  asb-icon-star"></i>

                                                      <label
                                                        class="asb-pos-wide asb-text _asb_sports-tree-item-header-name "
                                                        for="list-item-1x2">1x2</label>


                                                    </div>
                                                    <!--submenu country-->
                                                    <ul>
                                                      <div
                                                        class="asb-flex-col  asb-flex-col _asb_expansion-panel-content "
                                                        style="transform-origin: center top;">
                                                        <div
                                                          class="asb-flex _asb_event-details-market--prices-columns  asb-flex"
                                                          _event="[object Object]">
                                                          <div class="asb-pos-wide asb-flex">
                                                            <div
                                                              class="asb-flex-col asb-full-width asb-shrink asb-cut _asb_prices-column ">
                                                              <div class="asb-pos-tall _asb_prices-column-item ">
                                                                <div class="asb-full-width">
                                                                  <div
                                                                    class="asb-pos-wide asb-full-width _asb_price-block ">
                                                                    <div
                                                                      class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                                                      title="1">
                                                                      <div class="" style="overflow: hidden;"></div>
                                                                      <div
                                                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_price-block-content ">
                                                                        <!---->
                                                                        <div
                                                                          class="asb-flex-sc asb-text _asb_price-block-content-label ">
                                                                          <!---->
                                                                          <div
                                                                            class="asb-text _asb_price-block-content-label-text ">
                                                                            1
                                                                          </div>
                                                                        </div>
                                                                        <div
                                                                          class="asb-flex-cc asb-unshrink _asb_price-block-content-price ">
                                                                          <span class="">1.49</span>
                                                                        </div>
                                                                        <!---->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div
                                                              class="asb-flex-col asb-full-width asb-shrink asb-cut _asb_prices-column ">
                                                              <div class="asb-pos-tall _asb_prices-column-item ">
                                                                <div class="asb-full-width">
                                                                  <div
                                                                    class="asb-pos-wide asb-full-width _asb_price-block ">
                                                                    <div
                                                                      class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                                                      title="X">
                                                                      <div class="" style="overflow: hidden;"></div>
                                                                      <div
                                                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_price-block-content ">
                                                                        <!---->
                                                                        <div
                                                                          class="asb-flex-sc asb-text _asb_price-block-content-label ">
                                                                          <!---->
                                                                          <div
                                                                            class="asb-text _asb_price-block-content-label-text ">
                                                                            X
                                                                          </div>
                                                                        </div>
                                                                        <div
                                                                          class="asb-flex-cc asb-unshrink _asb_price-block-content-price ">
                                                                          <span class="">4.50</span>
                                                                        </div>
                                                                        <!---->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div
                                                              class="asb-flex-col asb-full-width asb-shrink asb-cut _asb_prices-column ">
                                                              <div class="asb-pos-tall _asb_prices-column-item ">
                                                                <div class="asb-full-width">
                                                                  <div
                                                                    class="asb-pos-wide asb-full-width _asb_price-block ">
                                                                    <div
                                                                      class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                                                      title="2">
                                                                      <div class="" style="overflow: hidden;"></div>
                                                                      <div
                                                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_price-block-content ">
                                                                        <!---->
                                                                        <div
                                                                          class="asb-flex-sc asb-text _asb_price-block-content-label ">
                                                                          <!---->
                                                                          <div
                                                                            class="asb-text _asb_price-block-content-label-text ">
                                                                            2
                                                                          </div>
                                                                        </div>
                                                                        <div
                                                                          class="asb-flex-cc asb-unshrink _asb_price-block-content-price ">
                                                                          <span class="">6.40</span>
                                                                        </div>
                                                                        <!---->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </ul>
                                                    <!--ensubmenu country-->
                                                  </li>
                                                </ul>
                                              </div>
                                              <!--end-->
                                              <!-- *****************To qualify***************** -->
                                              <div class="_asb_expansion-panel  _asb_sports-tree-item aa">
                                                <ul>
                                                  <li>
                                                    <input type="checkbox" id="list-item-3">
                                                    <div class="asb-flex-sc  _asb_sports-tree-item-header "
                                                      title="Football">

                                                      <i class="_asb_ui-icon _asb_ui-icon---star  asb-icon-star"></i>

                                                      <label
                                                        class="asb-pos-wide asb-text _asb_sports-tree-item-header-name "
                                                        for="list-item-3">1x2</label>


                                                    </div>
                                                    <!--submenu country-->
                                                    <ul>
                                                      <div
                                                        class="asb-flex-col  asb-flex-col _asb_expansion-panel-content "
                                                        style="transform-origin: center top;">
                                                        <div
                                                          class="asb-flex _asb_event-details-market--prices-columns  asb-flex"
                                                          _event="[object Object]">
                                                          <div class="asb-pos-wide asb-flex">
                                                            <div
                                                              class="asb-flex-col asb-full-width asb-shrink asb-cut _asb_prices-column ">
                                                              <div class="asb-pos-tall _asb_prices-column-item ">
                                                                <div class="asb-full-width">
                                                                  <div
                                                                    class="asb-pos-wide asb-full-width _asb_price-block ">
                                                                    <div
                                                                      class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                                                      title="1">
                                                                      <div class="" style="overflow: hidden;"></div>
                                                                      <div
                                                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_price-block-content ">
                                                                        <!---->
                                                                        <div
                                                                          class="asb-flex-sc asb-text _asb_price-block-content-label ">
                                                                          <!---->
                                                                          <div
                                                                            class="asb-text _asb_price-block-content-label-text ">
                                                                            1
                                                                          </div>
                                                                        </div>
                                                                        <div
                                                                          class="asb-flex-cc asb-unshrink _asb_price-block-content-price ">
                                                                          <span class="">1.49</span>
                                                                        </div>
                                                                        <!---->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div
                                                              class="asb-flex-col asb-full-width asb-shrink asb-cut _asb_prices-column ">
                                                              <div class="asb-pos-tall _asb_prices-column-item ">
                                                                <div class="asb-full-width">
                                                                  <div
                                                                    class="asb-pos-wide asb-full-width _asb_price-block ">
                                                                    <div
                                                                      class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                                                      title="X">
                                                                      <div class="" style="overflow: hidden;"></div>
                                                                      <div
                                                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_price-block-content ">
                                                                        <!---->
                                                                        <div
                                                                          class="asb-flex-sc asb-text _asb_price-block-content-label ">
                                                                          <!---->
                                                                          <div
                                                                            class="asb-text _asb_price-block-content-label-text ">
                                                                            X
                                                                          </div>
                                                                        </div>
                                                                        <div
                                                                          class="asb-flex-cc asb-unshrink _asb_price-block-content-price ">
                                                                          <span class="">4.50</span>
                                                                        </div>
                                                                        <!---->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div
                                                              class="asb-flex-col asb-full-width asb-shrink asb-cut _asb_prices-column ">
                                                              <div class="asb-pos-tall _asb_prices-column-item ">
                                                                <div class="asb-full-width">
                                                                  <div
                                                                    class="asb-pos-wide asb-full-width _asb_price-block ">
                                                                    <div
                                                                      class="asb-flex-cc asb-cut _asb_simple-button _asb_simple-button-pointer "
                                                                      title="2">
                                                                      <div class="" style="overflow: hidden;"></div>
                                                                      <div
                                                                        class="asb-flex-cc asb-cut asb-pos-stretch _asb_price-block-content ">
                                                                        <!---->
                                                                        <div
                                                                          class="asb-flex-sc asb-text _asb_price-block-content-label ">
                                                                          <!---->
                                                                          <div
                                                                            class="asb-text _asb_price-block-content-label-text ">
                                                                            2
                                                                          </div>
                                                                        </div>
                                                                        <div
                                                                          class="asb-flex-cc asb-unshrink _asb_price-block-content-price ">
                                                                          <span class="">6.40</span>
                                                                        </div>
                                                                        <!---->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </ul>
                                                    <!--ensubmenu country-->



                                                  </li>
                                                </ul>
                                              </div>

                                              <!--end-->

























                                            </div>
                                          </div>
                                          <!---->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
</div>