<div class="asb-flex-col mt-2">
    <div class="asb-flex-sc _asb_top-events-header-label ">
        <div class="asb-flex-cc asb-text">
            <!---->
            {{dataa.name}}
        </div>
    </div>
    <div class="asb-flex-sc asb-pos-wide _asb_items-tabs-header " name="top-sports-tabs" style="min-height: 0px;">
        <div class="asb-cut asb-pos-wide _asb_items-scroller ">
            <div class="_asb_content-scroller ">
                <div class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_content-scroller-arrow "
                    style="left: 0px; display: none;">
                    <div class="" style="overflow: hidden;"></div> <i
                        class="_asb_ui-icon  asb-icon-arrow-left _asb_content-scroller-arrow-icon "></i>
                </div>
                <div class="" style="overflow: hidden;">
                    <div class="asb-scrollable asb-flex-cc _asb_content-scroller-wrapper-scrollable ">
                        <div class="asb-flex-cc asb-pos-tall asb-nowrap asb-flex-cc _asb_items-tabs-tab--simple-button-selected _asb_simple-button _asb_simple-button-selected _asb_simple-button-pointer  _asb_items-tabs-tab  asb-uncut"
                            title="Football">
                            <div class="" style="overflow: hidden;"></div>
                            <div class="asb-flex-cc"><i class="_asb_sport-icon asb-icon-football"></i>
                                <div>Football</div>
                            </div>
                            <div class="_asb_items-tabs-indicator _asb_items-tabs-indicator-selected "></div>
                        </div>
                        <div class="asb-flex-cc asb-pos-tall asb-nowrap asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_items-tabs-tab  asb-uncut"
                            title="Tennis">
                            <div class="" style="overflow: hidden;"></div>
                            <div class="asb-flex-cc"><i class="_asb_sport-icon asb-icon-tennis"></i>
                                <div>Tennis</div>
                            </div>
                            <div class="_asb_items-tabs-indicator "></div>
                        </div>
                        <div class="asb-flex-cc asb-pos-tall asb-nowrap asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_items-tabs-tab  asb-uncut"
                            title="Basketball">
                            <div class="" style="overflow: hidden;"></div>
                            <div class="asb-flex-cc"><i class="_asb_sport-icon asb-icon-basketball"></i>
                                <div>Basketball</div>
                            </div>
                            <div class="_asb_items-tabs-indicator "></div>
                        </div>
                        <div class="asb-flex-cc asb-pos-tall asb-nowrap asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_items-tabs-tab  asb-uncut"
                            title="Autres">
                            <div class="" style="overflow: hidden;"></div>
                            <div class="asb-flex-cc"><i class="_asb_sport-icon asb-icon-other"></i>
                                <div>Autres</div>
                            </div>
                            <div class="_asb_items-tabs-indicator "></div>
                        </div>
                        <div
                            class="asb-flex-cc asb-pos-tall asb-nowrap asb-pos-stretch asb-flex-ec _asb_simple-button _asb_simple-button-pointer  _asb_items-tabs-tab  _asb_items-tabs-tab-empty ">
                            <div class="" style="overflow: hidden;"></div>
                            <div class="_asb_items-tabs-indicator "></div>
                        </div>
                    </div>
                </div>
                <div class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer  _asb_content-scroller-arrow "
                    style="right: 0px; display: none;">
                    <div class="" style="overflow: hidden;"></div> <i
                        class="_asb_ui-icon _asb_ui-icon---arrow-right  asb-icon-arrow-right _asb_content-scroller-arrow-icon "></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="" style="flex-grow: 1; min-height: 63px;">
    <div class="asb-pos-wide _asb_sticky-element-content  _asb_hybrid-sticky-element-scroll-animation ">
        <div class="asb-flex _asb_events-table-header-italian " _label="" _sportid="1">
            <div class="asb-pos-wide asb-flex-sc"></div>
            <div class="asb-flex">
                <div class="asb-flex-col asb-flex-cc _asb_prices-header ">
                    <div class="_asb_market-selector " style="max-width: 208px;">
                        <div class="_asb_items-dropdown ">
                            <div
                                class="asb-flex-sc  _asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-header ">
                                <div class="" style="overflow: hidden;"></div>
                                <div class="asb-pos-wide asb-text"><span>
                                        1x2
                                    </span></div> <i class="_asb_ui-icon  asb-icon-down-dir-1 _asb_dropdown-icon "></i>

                            </div>
                            <!-- <div class="asb-flex-col _asb_items-dropdown-content " style="position: absolute; transform-origin: center top; min-width: 225.609px; max-width: 1920px; margin-top: 0px; margin-left: 0px;"><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item  _asb_items-dropdown-item-selected "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                1x2
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                Total
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                Les deux équipes qui marquent
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                Double chance
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                But
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                1ère mi-temps - 1x2
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                1ère mi-temps - total
              </span></div></div><div class="_asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-item "><div class="" style="overflow: hidden;"></div> <div class="asb-pos-wide asb-flex-sc asb-nowrap _asb_items-dropdown-item-content "><span class="asb-text">
                1ère mi-temps - but
              </span></div></div></div> -->
                            <!---->
                        </div>
                    </div>
                    <div class="asb-flex _asb_market-prices-header ">
                        <!---->
                        <div class="asb-flex-cc _asb_price-header ">
                            <div class="asb-text">1</div>
                        </div>
                        <div class="asb-flex-cc _asb_price-header ">
                            <div class="asb-text">X</div>
                        </div>
                        <div class="asb-flex-cc _asb_price-header ">
                            <div class="asb-text">2</div>
                        </div>
                    </div>
                </div>
                <div class="asb-flex-col asb-flex-cc _asb_prices-header-italian ">
                    <div class="asb-flex-cc _asb_market-selector " style="max-width: 136px;">
                        <div class="_asb_items-dropdown ">
                            <div
                                class="asb-flex-sc  _asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-header ">
                                <div class="" style="overflow: hidden;"></div>
                                <div class="asb-pos-wide asb-text"><span>
                                        Total
                                    </span></div> <i class="_asb_ui-icon  asb-icon-down-dir-1 _asb_dropdown-icon "></i>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <div class="asb-flex asb-flex-cc">
                        <div class="_asb_items-dropdown  _asb_prices-header-italian-specodd ">
                            <div
                                class="asb-flex-sc  _asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-header ">
                                <div class="" style="overflow: hidden;"></div>
                                <div class="asb-pos-wide asb-text">
                                    <div class="asb-flex-ec">Buts</div>
                                </div> <i class="_asb_ui-icon  asb-icon-down-dir-1 _asb_dropdown-icon "></i>
                            </div>
                            <!---->
                        </div>
                        <div class="asb-flex">
                            <div class="asb-flex-cc _asb_price-header ">
                                <div class="asb-text">Plus de</div>
                            </div>
                            <div class="asb-flex-cc _asb_price-header ">
                                <div class="asb-text">Moins de</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asb-flex-col asb-flex-cc _asb_prices-header ">
                    <div class="_asb_market-selector " style="max-width: 136px;">
                        <div class="_asb_items-dropdown ">
                            <div
                                class="asb-flex-sc  _asb_simple-button _asb_simple-button-pointer  _asb_items-dropdown-header ">
                                <div class="" style="overflow: hidden;"></div>
                                <div class="asb-pos-wide asb-text"><span>
                                        Les deux équipes qui marquent
                                    </span></div> <i class="_asb_ui-icon  asb-icon-down-dir-1 _asb_dropdown-icon "></i>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <div class="asb-flex _asb_market-prices-header ">
                        <!---->
                        <div class="asb-flex-cc _asb_price-header ">
                            <div class="asb-text">Oui</div>
                        </div>
                        <div class="asb-flex-cc _asb_price-header ">
                            <div class="asb-text">Non</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="asb-flex _asb_simple-button _asb_simple-button-pointer " style="opacity: 0;">
                <div class="" style="overflow: hidden;"></div> <i class="_asb_ui-icon  asb-icon-arrow-down"></i>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let prematch of prematch">
    <app-match [prematch]="prematch"></app-match>
</div>
