<div class="_asb_simple-button _asb_simple-button-pointer  _asb_leagues-selector-item " title="UEFA Champions League">
    <div class="" style="overflow: hidden;">
    </div> 
    <div class="asb-flex-sc  asb-pos-stretch">
        <div class="asb-flex-cc _asb_simple-button _asb_simple-button-pointer ">
            <div class="" style="overflow: visible;">
            </div> 
            <i class="_asb_ui-icon _asb_ui-icon---checkbox-empty  asb-icon-checkbox-empty _asb_leagues-selector-item-checkbox "(click)="clickEvent()"   [ngClass]="status  ? 'asb-icon-checkbox-empty' : 'asb-icon-checkbox-checked'" ></i>
        </div> 
        <div class="asb-pos-wide asb-text _asb_leagues-selector-item-name ">{{league.Name}}</div> 
        <!----> 
        <div class="asb-text-center _asb_events-count  _asb_leagues-selector-item-count ">18</div>
    </div>
</div>